# Fichiers d'environnement - Ne jamais les partager !
.env
# Fichiers perso avec des clés secrètes - Ne jamais les partager !
jgtest.py
# Dépendances et caches Python
__pycache__/
*.pyc
venv/
.venv/

# Fichiers téléchargés par l'application
INVENTAIRE-PARTS-CANADA/
CATALOGUES-snow/