<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de Bord - E.T.F. Parts Canada</title>
</head>
<body>
    <div>
        <h1>Fichiers Inventaire</h1>
        <p>Cliquez sur le bouton pour télécharger le dernier fichier d'inventaire.</p>
        <form action="{{ url_for('lancer_telechargement_inventaire') }}" method="post">
            <button type="submit">Démarrer le Téléchargement de l'Inventaire</button>
        </form>
        <h2>État du dossier d'inventaire</h2>
        {% if inventory_files %}
            <table border="1">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Type</th>
                        <th>Dernière modification</th>
                        <th>Taille (Mo)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in inventory_files %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.mod_date }}</td>
                        <td>{{ item.size_mo }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Le dossier <strong>INVENTAIRE-PARTS-CANADA</strong> est vide.</p>
        {% endif %}
        
        <hr>

        <h1>Catalogues SNOW </h1>
        <p>Entrez le nom du catalogue (ex: 'fatbook') et cliquez sur le bouton.</p>
        <form action="{{ url_for('lancer_telechargement_catalogue_snow') }}" method="post">
            <button type="submit">Démarrer le Téléchargement du Catalogue</button>
        </form>
        <h2>État du dossier des catalogues</h2>
        {% if catalog_files %}
             <table border="1">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Type</th>
                        <th>Dernière modification</th>
                        <th>Taille (Mo)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in catalog_files %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.mod_date }}</td>
                        <td>{{ item.size_mo }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Le dossier <strong>CATALOGUE-SNOW</strong> est vide.</p>
        {% endif %}

    </div>
</body>
</html>

